.modal {
  .modal-header,
  .modal-body,
  .modal-footer {
    padding: 1.75rem;
  }

  .modal-header {
    border-bottom: 1px solid $separator-color;
  }

  .modal-footer {
    border-top: 1px solid $separator-color;
  }

  .close {
    color: $primary-color;
    text-shadow: initial;
  }
}

.modal-content {
  border: initial;
  border-radius: 0.1rem;
  background: $foreground-color;
}

.modal-dialog {
  @include depth(2);
}

.modal-right {
  padding-right: 0 !important;

  .modal-dialog {
    margin: 0 auto;
    margin-right: 0;
    margin-top: 0;
    margin-bottom: 0;
    height: 100%;
    max-width: 380px;
  }

  .modal-content {
    min-height: 100%;
  }

  .modal-header {
    height: $navbar-height;

    @include respond-below(xl) {
      height: $navbar-height-lg;
    }

    @include respond-below(lg) {
      height: $navbar-height-md;
    }

    @include respond-below(sm) {
      height: $navbar-height-xs;
    }
  }

  .modal-footer {
    justify-content: center;
  }

  .modal.fade .modal-dialog {
    transform: translate(25%, 0) !important;
  }

  .modal.show .modal-dialog {
    transform: translate(0, 0) !important;
  }
}

.rtl {
  .modal {
    .modal-header,
    .modal-body,
    .modal-footer {
      padding: 1.75rem;
      @include respond-below(xs) {
        padding: 1.5rem;
      }
    }
  }
}


.event-view-modal {
  width: 512px;
  max-width: 512px !important;

  .modal-body {
    padding: 40px 44px 40px 53px;
    background-color: var(--modal-bg-color);

    .section-header {
      display: flex;
      align-items: center;
      justify-content: space-between;

      .header-title {
        font-weight: 700;
        font-size: .75rem;
        line-height: 26px;
      }
    }
    .section-body {
      .event-title {
        margin-top: 30px;
        font-weight: 700;
        font-size: 2.5rem;
      }
      .event-img {
        margin-top: 33px;
        width: 100%;
        filter: grayscale(1);
      }
      .event-org {
        margin-top: 17px;
        font-weight: 700;
        font-size: .75rem;
        line-height: 26px;
      }
      .separator {
        color: var(--separator-color);
        margin: 16.5px 0 19.5px;
      }
      .event-description {
        font-size: .6875rem;
        line-height: 22px;
        color: var(--calendar-event-description-color);

        a {
          color: var(--theme-color-1);
          &:hover {
            opacity: .8;
            text-decoration: underline;
          }
        }
      }
    }
  }

  @include respond-below(sm) {
    width: 100%;

    .modal-body {
      padding: 15px 20px;

      .section-header {
        position: sticky;
        top: 0;
        padding: 15px 0 20px 0;
        background: var(--modal-bg-color);
      }
      .event-title {
        font-size: 1.5rem !important;
        margin-top: 10px !important;
      }
    }
  }
}

.share-modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) !important;
  .modal-content {
    width: 511px;
    border-radius: 8px;
    position: relative;
    @include respond-below(sm) {
      width: 20rem;
    }

    .share-header {
      position: absolute;
      z-index: 1;
      right: 23px;
      top: 23px;
    }

    .modal-body {
      border-radius: 5px;
      padding: 47px 44px 53px 41px;
      background-color: var(--modal-bg-color);
      @include respond-below(sm) {
        padding: 47px 20px 53px 20px;
      }


      .share-title {
        font-size: 1.625rem;
        line-height: 1;
        font-weight: 700;
        color: var(--primary-color);
        @include respond-below(md) {
          font-size: 1.5rem !important;
        }
      }

      .social-button-wrapper {
        margin-top: 35px;

        .social-icon {
          margin-right: 25px;
          &:hover {
            opacity: .8;
          }
          @include respond-below(sm){
            margin-right: 35px;
          }
        }
      }

      .share-footer {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-top: 35px;
        @include respond-below(md) {
          flex-direction: column;
        }

        .input-share {
          border-radius: 4.5px;
          height: 38px;
          width: 320px;
          border: 1px solid #DCDCDC;
          background: var(--modal-bg-color);
          color: var(--primary-color) !important;
          @include respond-below(md) {
            width: 100%;
          }
        }
      }
    }
  }
}
