$body-width: 1440px;
$body-x-padding: 85px;

$main-menu-item-height: 110px;
$main-menu-width: 0px;
$main-menu-width-lg: 0px;
$main-menu-width-md: 0px;
$main-menu-width-xs: 0px;

$sub-menu-width: 0px;
$sub-menu-width-lg: 0px;
$sub-menu-width-md: 0px;
$sub-menu-width-xs: 0px;

$navbar-height: 35px;
$navbar-height-xs: 35px;
$navbar-height-md: 35px;
$navbar-height-lg: 35px;

$main-margin: 0px;
$main-margin-lg: 0px;
$main-margin-md: 0px;
$main-margin-xs: 0px;

$app-menu-width: 280px;
$main-menu-item-height-mobile: 90px;

$menu-collapse-time: 300ms;
$animation-time-long: 1000ms;
$animation-time-short: 200ms;

$border-radius: 0.1rem;
$border-radius-rounded: 0.75rem;

$theme-color-purple-monster: #922c88;
$theme-color-blue-navy: #00365a;
$theme-color-blue-yale: #145388;
$theme-color-blue-olympic: #008ecc;
$theme-color-green-moss: #576a3d;
$theme-color-green-lime: #6fb327;
$theme-color-orange-carrot: #ed7117;
$theme-color-red-ruby: #900604;
$theme-color-yellow-granola: #c0a145;
$theme-color-grey-steel: #48494b;

$info-color: #3195a5;
$success-color: #3e884f;
$warning-color: #b69329;
$error-color: #c43d4b;
